


table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ff4d4d;
  color: white;
}

tr:hover {background-color:#ffcc33;}




 /*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Change the link color to #111 (black) on hover */
/*li a:hover {
  background-color: #111;
}*/

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

 Change the link color on hover 
li a:hover {
  background-color: #555;
  color: white;
}
*/



.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}



body {
  background-color: #eadbf2;
}

.class1_bgcolor {
  background-color: #9ae5f6;
}

.class2_bgcolor {
  background-color: #eadbf2;
}

img {border-style: double;}


